* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-transform: capitalize;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;  
    text-align: center;
}